@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap-icons/font/bootstrap-icons.min.css';
@import '~monaco-editor/min/vs/editor/editor.main.css';

html,
body {
  height: 100%;
  overflow: hidden;
  background: #212529;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

div.container-fluid.full-height {
  background: #212529;
}

.preview-wrapper {
  padding: 2em 0.25em;
  overflow: scroll;
}
