@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css');
@import '~monaco-editor/min/vs/editor/editor.main.css';

body {
  overflow: hidden;
  background: #212529;
}

div.container-fluid.full-height {
  background: #212529;
}

.preview-wrapper {
  padding: 2em 0.25em;
  overflow: scroll;
}
